.library {
  position: fixed;
  box-shadow: 0px 0px 10px rgb(15, 21, 58);
  border-radius:  0 1rem 1rem 0;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  overflow: scroll;
  background: rgb(15, 21, 58, 70%);
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
    color: #c5c6d0;
  }
}

.library-story {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: all 0.75s ease-out;

  img {
    width: 30%;
  }
  &:hover {
    background:rgb(216,216, 216, 20%);
  }
}

.story-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
    color:#c5c6d0;
  }
  h4 {
    font-size: 0.7rem;
    color:#c5c6d0;
  }
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}

.active-stories {
  transform: translateX(0%);
  opacity: 1;
}

.selected {
  background: rgb(216,216, 216, 40%);
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}