nav {
  min-height: 10vh;
  display: flex;
  justify-content:space-around;
  align-items: center;

  h1 {
    color: #c5c6d0;
  }

  button {
    background: rgb(216,216, 216, 60%);
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5rem;
    transition: all 0.3s ease;
    svg {
      margin-left: 0.5rem;
    }
    &:hover {
      background: rgb(216,216, 216);
      color: black;
    }
  }
  .stories-active {
    background: rgb(216,216, 216);
    color: black;
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}