nav {
  min-height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  h1 {
    color: #c5c6d0;
  }

  button {
    background: rgb(216,216, 216, 40%);
    border: none;
    cursor: pointer;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 5rem;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    color: #d8d8d8;
    font-weight: 500;
    margin-right: 20%;
    svg {
      margin-left: 1rem;
    }
    &:hover {
      background: rgb(216,216, 216);
      color: #241960;
    }
  }
  .stories-active {
    background: rgb(216,216, 216);
    color: #241960;
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}